.circle {
  width: 530px;
  height: 530px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #42567A;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  border: 1px solid #303E5880;
  transform-origin: center;
  transition: z-index 0.3s;

  &[data-active="true"] {
    z-index: 1;

    .dot__title {
      opacity: 1;
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    right: -100px;
    left: calc(100% + 12px);
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    margin: 0;
    color: #42567A;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    transition: opacity .8s;
    pointer-events: none;
  }
}

@media screen and (max-width: 1280px){
  .circle {
    width: 400px;
    height: 400px;
  }
}